
push constant 9
push constant 2
call example-2.sub2 2
// push constant 7
// push constant 7
// push constant 7
// push constant 7
goto exit


function sub2 2
    push argument 0
    push argument 1
    sub
    return 

label exit
