
push constant 9
push constant 6
call example-2.add2 2
// push constant 7
// push constant 7
// push constant 7
// push constant 7
goto exit


function add2 2
    push argument 0
    push argument 1
    add
    return 

label exit
