
function fac 1
    push argument 0
    push constant 1
    lte
    if-goto end
    push argument 0
    push argument 0
    push constant 1
    sub
    call factorial.fac 1
    call mult.mult 2
    goto result

    label end
    push constant 1

    label result
    return
